Private/
/Projects/P1_ExtendedKalmanFilter/*.zip
/Misc/.ipynb_checkpoints

/Projects/P1_ExtendedKalmanFilter/*.mov
/Projects/P1_ExtendedKalmanFilter/*.mp4
/Projects/P1_ExtendedKalmanFilter/.ipynb_checkpoints
/Projects/P1_ExtendedKalmanFilter/OldVersion/*
/Projects/P1_ExtendedKalmanFilter/term2_sim.app

/Projects/P2-Unscented-Kalman-Filter/*.app
/Projects/P2-Unscented-Kalman-Filter/*.mp4
/Projects/P2-Unscented-Kalman-Filter/*.mov
/Projects/P2-Unscented-Kalman-Filter/build/

/Projects/P4_CarND-PID-Control/build
/Projects/P4_CarND-PID-Control/simulation_P4.mov

/Projects/P5_CarND-MPC/simulation_P5.mov
/Projects/P5_CarND-MPC/build/
# /Projects/P5_CarND-MPC/equations.png

